*.jks
.gradle
/local.properties
/.idea/libraries
/.idea/workspace.xml
/.idea/caches
/stage
.DS_Store
/build
/captures
/app/app.iml
/app/google-services.json
/app/src/debug
/app/src/GAdebug
/app/src/release
/app/src/ICproduction
/app/src/GAproduction
/app/src/setup-google-services.bat
.externalNativeBuild
