<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinklearn.tide.activitydriver">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ActivityDriverApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Launch"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeacherWelcomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StudentListActivity"
            android:label="@string/title_student_list"
            android:parentActivityName=".TeacherWelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thinklearn.tide.activitydriver.TeacherWelcomeActivity" />
        </activity>
        <activity
            android:name=".StudentDetailActivity"
            android:label="@string/title_student_detail"
            android:parentActivityName=".StudentListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thinklearn.tide.activitydriver.StudentListActivity" />
        </activity>
        <activity
            android:name=".TeacherLoginActivity"
            android:label="@string/title_activity_teacher_login"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurriculumActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CurriculumSelector"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChapterSelector"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AttendenceManagementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StudentGradeSelectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GenderSelectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StudentGridActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AssessmentRecordActivity"
            android:parentActivityName=".StudentDetailActivity"></activity>
    </application>

</manifest>